body {
    margin: 40px;
    background-color: white;
    font-family: 'Raleway', Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-page {
    font-family:'Raleway' ;
    font-weight: 400;
    border: 2px solid black;
    padding: 5px 10px;
    margin-right: 25px;
    margin-left: 25%;
  }
  
  .nav-links {
    display: flex;
    margin-right: 25%;
  }
  
  .nav-link {
    font-family:'Raleway';
    font-weight: 200;
    color: rgb(5, 185, 245);
    margin-right: 10px;
    text-decoration: none;
  }
  main {
    display: flex;
    justify-content: center;
  }
  
  .content-wrapper {
    display: flex;
    max-width: 800px; /* Adjust the value based on your preferred content width */
  }
  
  .photo-box {
    margin-right: 20px;
  }
  
  .profile-photo {
    width: 150px; /* Adjust the value based on your preferred photo size */
    height: auto;
    border-radius: 50%;
  }
  
  .bio-box {
    max-width: 600px; /* Adjust the value based on your preferred bio box width */
    text-align: justify;
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }