body {
    margin: 40px;
    background-color: white;
    font-family: 'Raleway', Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-page {
    font-family:'Raleway' ;
    font-weight: 400;
    border: 2px solid black;
    padding: 5px 10px;
    margin-right: 20px;
    margin-left: 20%;
  }
  
  .nav-links {
    font-family:'Raleway';
    font-weight: 200;
    display: flex;
    margin-right: 20%;
  }
  
  .nav-link {
    color: rgb(5, 185, 245);
    margin-right: 10px;
    text-decoration: none;
  }
  
  footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }