body {
    margin: 40px;
    background-color: white;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-page {
    border: 2px solid black;
    padding: 5px 10px;
    margin-right: 20px;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: lightblue;
    margin-right: 10px;
    text-decoration: none;
  }
  
  footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }